*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
.karobka22{
    position: absolute;
    top: 400px;
    left: 250px;
    color: white;
} 
.BTN{
    background-color: inherit;
    border: 1px solid white;
    width: 130px;
    height: 50px;
    color: white;
}